<div class="wrapper">
    <div class="result-container">
        <p>{{currencyRate.amount1}} {{currencyRate.nameCur1}}</p>
        <p>=</p>
        <p>{{currencyRate.amount2}} {{currencyRate.nameCur2}}</p>
    </div>
    <div class="main-container">
        <div class="selection-cont">
            <div class="form-group">
                <input type="number" class="form-control" name="amount1" [(ngModel)]="currencyRate.amount1"
                    (input)="convert('inp')" />
            </div>
            <div class="form-group">
                <select class="form-control" name="currency" [(ngModel)]="currencyRate.nameCur1"
                    (mouseleave)="convert('inp')">
                    <option *ngFor="let cur of currencies" [value]="cur">
                        {{cur}}
                    </option>
                </select>
            </div>
            <div class="form-group">
                <input type="number" class="form-control" name="amount2" [(ngModel)]="currencyRate.amount2"
                    (input)="convert('inp2')" />
            </div>
            <div class="form-group">
                <select class="form-control" [(ngModel)]="currencyRate.nameCur2" (mouseleave)="convert('inp2')">
                    <option *ngFor="let cur of currencies" [value]="cur">
                        {{cur}}
                    </option>
                </select>
            </div>
        </div>
    </div>
</div>